extends layout

block content
  .row.page-header
    .col-lg-12
      h1 Starcups
  
  .row
    .col-xs-12.col-md-9
      .row
        .col-xs-12.col-sm-6
          p.rating
            span.glyphicon.glyphicon-star
            span.glyphicon.glyphicon-star
            span.glyphicon.glyphicon-star
            span.glyphicon.glyphicon-star-empty
            span.glyphicon.glyphicon-star-empty
            
            
    .col-xs-12.col-sm-4
      p.lead Looking for wifi and a seat? Jin's Wifi helps you find places to work when out and about. Perhaps with coffee, cake or a pint? Let Jin's Wifi help you find the place you're looking for.